
header
{
    background: #306B89;
    border-bottom: 3px solid black;
}

.container 
{
    margin:auto;
    width: 80%;
}

#service h1
{
    text-align: center;
}
#service h2
{
    padding: 5px;
    margin:0;
    background: #306B89;
    border-radius: 5px;
}

#service p
{
    padding:0 15px 5px 15px;
}

#about h1
{
    text-align: center;
}

.pageTitle
{
    text-align: center;
}



body{
    background: #D1E9F5;
}

#logo
{
    float: left;
    padding-left:20px;
}

nav
{
    float:right;
}

header::after
{
    content: "";
    display:table;
    clear:both;
}

nav ul
{
    margin:0;
    list-style: none;
    padding-right:50px;
}

nav ul li:hover
{
    color:#D1E9F5;
}

nav li
{
    display: inline-block;
    margin-left:70px;
    padding-top: 25px;
    color:black;
    font-weight: bold;
    font-size:20px;
}

#mySidebar
{
    float: left;
    width:30%;
    height: 100%;
}

.sideBarList2
{
    color:black;
    padding: 20px;
    margin: 0;
    border-bottom: 3px solid black;
}

.sideBarList2:hover
{
    background: #306B89;
}



#homeImage
{
    background-image:url("homeImage.png");
    float:right;
    height: 100%;
    width: 70%;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

#homeContainer
{
    width: 100%;
    height:500px;
    margin: 0;
}

.sideBarList
{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.infoPic
{
    height:100px;
    width:100px;
}

.infoBoxes
{
    text-align: center;
    width: 100%;
    margin:auto;
}

.infoBox
{
    display: inline-block;
    width:33.33%;
    padding:20px;
    box-sizing: border-box;
}

.myFooter p
{
    background: #306B89;
    margin:0;
    padding:0;
    padding: 10px;
}

.myFooter
{
    text-align: center;
    border-top:3px solid black;

}

.houseContainer
{
    width: 70%;
    margin:20px auto;
    padding: 20px;
    border:5px solid #306B89;
    border-radius: 5px;
    
}

.houseContainerPic
{
    width:50%;
    float:left;
}

.houseContainerInfo
{
    width: 35%;
    float: right;
    margin-right: 60px;
    text-align: center;
}

.houseButton
{
    padding:9px 24px;
    background: #306B89;
    border:1px solid #306B89;
    border-radius: 5px;
    color:#D1E9F5;
    margin:auto 5px;
}

.houseButton:hover
{
    cursor: pointer;
    background: #D1E9F5;
    color:#306B89;
    border:1px solid #306B89;
}

.buttonContainer
{
    text-align: center;
}

.picModal
{
   position:fixed;
   z-index:1;
   left:0;
   top:0;
   height:100%;
   width:100%;
   overflow:auto;
   background-color: rgba(0,0,0,0.5);
   display:none;
}

.infoModal
{
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height:100%;
    width:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.5);
    display:none;
}

.modal-content
{
    background: #D1E9F5;
    margin:10% auto;
    width:70%;
    height:400px;
}

.closeBtn
{
    cursor: pointer;
}

.clearDiv
{
    clear:both;
}

.priceInfo
{
    display: none;
}

#contactForm
{
    height:auto; 
}

form
{
    width: 80%;
    margin:auto;
    padding: 10px;
    position: relative;
    top:-5px;
}

#contactForm div p
{
    padding:0;
    margin:0;
}

.form-group
{
    margin-top: 20px;
}

form input[type="text"], textarea
{
    width:100%;
    padding: 5px;
    margin:auto;
    border-radius: 5px;
    box-sizing: border-box;
}

#contactForm textarea
{
    height: 200px;
}

form p
{
    font-size: 20px;
}

#sendButton
{
    margin-top:20px;
    padding: 10px 40px;
    background: #306B89;
    border-radius: 5px;
    color: white;
    border:1px solid #306b89;
}

#contactForm h1
{
    text-align:center;
    margin:20px 0 0 0;
    padding:0;
}

#sendButton:hover
{
    cursor: pointer;
    background: #D1E9F5;
    color: #306B89;
}




@media(max-width:768px)
{
    #homeImage
    {
        width:100%;
        float:none;
    }
    

    #mySidebar
    {
        float:none;
        width: 100%;
        height: auto;
    }

    .container
    {
        width:100%;
    }

    .infoBoxes
    {
        margin-top:275px;
    }

    .infoBox
    {
        width:100%;

    }

    #about p 
    {
        padding: 10px;
    }

    header
    {
        text-align: center;
        padding-top: 10px;
    }

    #logo
    {
        display: inline-block;
        text-align: left;
        margin:0;
        float: none;
        padding:0;
    }

    nav
    {
        float:none;
    }

    nav ul 
    {
        display:inline-block;
        padding: 0;
        text-align: center;
    }

    nav ul li
    {
        padding-top: 0;
        display:inline-block;
        margin:0 ;
    }


    nav ul a 
    {
        padding: 15px;
    }

    nav ul li:hover 
    {
        font-size:20px;
    }

    .houseContainer
    {
        width:100%;
        margin:auto;
        margin:20px auto;
        box-sizing: border-box;
        
    }

    .houseContainerPic
    {
        width:100%;
        float:none;
    }

    .houseContainerInfo
    {
        width:100%;
        float:none;
    }

    form 
    {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        position: relative;
        top:-15px;
    }
    
    #sendButton
    {
        display: block;
        margin:0 auto;
        width:100%;
    }

    #service h2
    {
        border-radius: 0;
    }


    


    


}




